.navbar {
  height: 20vh;
    background-color: #000000;
    padding: 0px;
    margin: 0px;
    color: black;
    .navbar-start {
      margin-left: 100px;
      margin-top: -30px;
    }
    .navbar-end {
      margin-left: -300px;
      margin-top: -30px;
    }
    .navbar-item, .navbar-link {
        color: black; 
        &:hover{
          background-color: transparent;
          margin-bottom: 5px;
        }
        .navbar-item.has-dropdown, .navbar-link{
          color: black;
          &:hover{
            background-color: transparent;
            margin-bottom: 5px;
          }
        }
    }
    p {
      text-align: center;
  }
  }
  .button {
    background-color: transparent;
    color: black;
    border-color: black;
  }
  
  #gradient
  {
   width: 100%;
   height: 800px;
   padding: 0px;
   margin: 0px;
  }

svg {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 10vw;
  /* set height to pixels if you want angle to change with screen width */
  
}
.svg2 {
  height: 200px;
}
.navbar-item.is-active .navbar-dropdown, .navbar-item.is-hoverable:focus .navbar-dropdown, .navbar-item.is-hoverable:focus-within .navbar-dropdown, .navbar-item.is-hoverable:hover .navbar-dropdown {

    display: block;
    margin-top: -60px;

}
.navbar-burger.navbar-item.is-active {
  img{
    display: none;
  }
}
.navbar-dropdown {

    background-color: #fff;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    border-top: 2px solid #dbdbdb;
    box-shadow: 0 8px 8px rgba(10,10,10,.1);
    display: none;
    font-size: .875rem;
    left: 0;
    min-width: 100%;
    position: absolute;
    top: 100%;
    z-index: 20;

}
.navbar-dropdown {

    font-size: .875rem;
    padding-bottom: .5rem;
    padding-top: .5rem;

}
*, ::after, ::before {

    box-sizing: inherit;
}

footer {
  background-image: url("data:image/svg+xml,%3Csvg width='1085' height='241' viewBox='0 0 1085 241' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4.95203 0L1080.9 238.848L4.95203 221L4.95203 0Z' fill='%23CCFFFF'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  position:absolute;
  bottom:0;
  width:100%;
  padding-top:50px;
  height:200px;
  .connexion {
    font: 1em sans-serif;
    margin-top: 50px;
  }
    p {
      font: 2em sans-serif;
      margin-top: 10px;
      margin-left: 45px;
    }
}