@import 'surround/footer/footer';
@import 'surround/header/header';
@import 'body_pages/table/table';
//@import 'details/blob/blob';
@import 'body_pages/login/login';

* {
    box-sizing: border-box;
}
html {
    background: url('https://raw.githubusercontent.com/Richardtristan/PHP-challenge-2/main/public/assets/img/cogip-bg.jpg') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
    overflow: hidden;
}
 body {
//     background-image: url('https://raw.githubusercontent.com/Richardtristan/PHP-challenge-2/main/public/assets/img/cogip-bg.jpg');
//     background-size: cover;
     display: flex;
     flex-direction: column;
    height: 100vh;
}

.block, .form {
    flex: 1 0 auto;
  }
  